---
import ThemeSwticher from "../../components/ThemeSwticher.astro";
---

<header>
  <nav>
    <div class="nav-start">
      <a href="#"><h2>Peter Kudelas</h2></a>
    </div>
    <div class="nav-center">
  <ThemeSwticher />
    </div>
    <div class="nav-end">
        <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    </div>
  </nav>
</header>

<style>
    header, nav {
        width: 100%;
    }
    header, nav, ul {
        display: flex;
    }
    nav {
        margin-inline: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    li {
        list-style: none;
        padding: 0.25rem;
    }
    a {
        color: var(--light);
        text-decoration: none;
    }
    a:hover, a:active {
        text-decoration: underline;
        color: var(--orange)
    }

    a:has(h2):hover, a:has(h2):active {
    text-decoration: none;
    }
    
    
</style>
