---
import Hamburger from './Hamburger.astro';
---

<div class="md:hidden mr-4">
	<Hamburger />
</div>
<ul class="md:flex mr-4 xl:mr-0 hidden">
	<li class="px-2">
		<a
			class="text-lg font-medium hover:text-orange-500 hover:underline hover:underline-offset-2"
			href="#">Blog</a
		>
	</li>
	<li class="px-2">
		<a
			class="text-lg font-medium hover:text-orange-500 hover:underline hover:underline-offset-2"
			href="#">Resume</a
		>
	</li>
	<li class="px-2">
		<a
			class="text-lg font-medium hover:text-orange-500 hover:underline hover:underline-offset-2"
			href="/#contact">Contact</a
		>
	</li>
</ul>
