---
import astro from '~/assets/favicon.svg';
import solid from '~/assets/solid-js.svg';
---

<footer class="w-full h-20 flex text-xl justify-center items-center text-slate-500 gap-2 mt-auto">
	<p>Created with</p>
	<a href="https://astro.build" target="_blank"> <img src={astro.src} class="h-8" /></a>
	<a href="https://tailwindcss.com" target="_blank">
		<i class="nf nf-md-tailwind text-sky-500 text-4xl"></i>
	</a>
	<p>and</p>
	<a href="https://solidjs.com" target="_blank"> <img src={solid.src} class="h-8" /></a>
</footer>
