<label class="hamburger drawer-button" for="my-drawer" id="hamburger">
	<span class="h-1 w-10 bg-base-content block mb-2"></span>
	<span class="h-1 w-10 bg-base-content block mb-2"></span>
	<span class="h-1 w-10 bg-base-content block"></span>
</label>

<!-- <script is:inline> -->
<!-- document.querySelector('#hamburger').addEventListener('click', () => { -->
<!--   document.querySelector('#sidebar').classList.toggle('max-lg:hidden'); -->
<!-- }); -->
<!-- </script> -->
