<label
	class="hamburger drawer-button btn btn-square btn-ghost rounded-lg"
	for="my-drawer"
	id="hamburger"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		class="inline-block w-8 h-8 stroke-current"
		><path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M4 6h16M4 12h16M4 18h16"></path></svg
	>
</label>

<!-- <script is:inline> -->
<!-- document.querySelector('#hamburger').addEventListener('click', () => { -->
<!--   document.querySelector('#sidebar').classList.toggle('max-lg:hidden'); -->
<!-- }); -->
<!-- </script> -->
