---
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
import { ThemeList } from '../Solid/ThemeList';
---

<header class="container fixed top-0 bg-base-100 max-w-7xl z-50">
	<nav class="m-1 lg:m-2 sm:mx-0 flex justify-between items-center">
		<div class="ml-4 xl:ml-0">
			<a href="/" class="flex items-center gap-6">
				<Logo />
			</a>
		</div>
		<div class="header-end flex items-center gap-4 xl:gap-6 mr-4 xl:mr-0">
			<Navigation />
			<div class="hidden md:block">
				<ThemeList client:only="solid-js" transition:persist />
			</div>
		</div>
	</nav>
</header>
