---
import { ThemeList } from '../Solid/ThemeList';
import Hamburger from './Hamburger.astro';
---

<header
	class="sticky lg:shadow-none lg:backdrop-blur-none lg:bg-opacity-0 top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
	<div class="navbar">
		<div class="navbar-start m-4">
			<div class="lg:hidden">
				<Hamburger />
			</div>
		</div>
		<div class="navbar-center"></div>

		<div class="navbar-end m-4">
			<div class="lg:hidden xl:block">
				<ThemeList client:only="solid-js" transition:persist />
			</div>
		</div>
	</div>
</header>
