---
import GradientText from '../GradientText.astro';
---

<section class="hero h-screen md:h-[40vh]">
	<div class="group max-lg:hero-content max-lg:text-center flex flex-col wrap">
		<h2 class="text-3xl font-mono">Hello World,</h2>
		<h2 class="text-7xl font-sans font-black">
			I'm
			<GradientText content="Peter Kudelas" />
		</h2>
		<h2 class="text-5xl mt-4 font-mono font-extrabold">
			I <span class="font-mono">{'<code/>'}</span> web apps.
		</h2>
		<p class="font-semibold mt-8 leading-7 text-justify text-lg">
			I am <span><GradientText content="front-end web developer" /></span> creating functional web
			applications with latest web technologies.
		</p>
	</div>
</section>
