---
import Hamburger from './Hamburger.astro';
import NavLink from '../NavLink.astro';
---

<div class="md:hidden mr-4">
	<Hamburger />
</div>
<!-- <ul class={`md:flex mr-4 xl:mr-0 ${open ? 'block' : 'hidden'}`}> -->
<ul
	class="md:flex mr-4 xl:mr-0 gap-4 xl:gap-6 nav-links hidden bg-base-100 transition max-md:border-b-secondary max-md:border-b-4"
>
	<NavLink href="/#projects" text="Projects" />
	<NavLink href="/#contact" text="Contact Me" />
	<NavLink href="/now" text="Now" />
</ul>

<script>
	document.querySelector('.hamburger').addEventListener('click', () => {
		document.querySelector('.nav-links').classList.toggle('expanded');
		document.querySelector('.nav-links').classList.toggle('hidden');
	});
</script>
<style>
	.nav-links.expanded {
		position: fixed;
		width: 100%;
		text-align: right;
		left: 0px;
		top: 72px;
	}
	.nav-links.expanded a {
		margin-right: 1rem;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.75;
		letter-spacing: 0.125rem;
	}
</style>
