---
import GradientText from '../../components/GradientText.astro';
const { title, id } = Astro.props;
---

<section class="" id={id}>
	<h2 class="text-4xl my-10 font-bold text-base-content">{title}</h2>
	<div class="mb-20">
		<slot />
	</div>
</section>
