---
import BaseLayout from '../layouts/BaseLayout.astro';
import GradientText from '../components/GradientText.astro';
---

<BaseLayout
	title="Web under contruction..."
	description="Welcome to Peter Kudeláš personal website. Web is currently under construction..."
	navActiveId="contact"
>
	<section class="lg:mt-[10vh]">
		<div class="hero justify-start">
			<h2 class="text-7xl font-sans font-black">
				<GradientText content="Contact" />
			</h2>
		</div>
		<div class="my-12">
			<h3 class="text-xl text-base-content font-semibold">
				Hey there! If you're interested in collaborating, discussing a tech challenge, or just want
				to geek out about code, drop me a line using the form below.
			</h3>
		</div>
		<div class="max-w-xl mx-auto">
			<form>
				<div class="mb-4">
					<label for="email" class="block text-lg font-medium text-accent">Email</label>
					<input
						type="email"
						id="email"
						name="email"
						class="mt-1 px-3 py-2 w-full textarea textarea-accent"
					/>
				</div>
				<div class="mb-4">
					<label for="message" class="block text-lg font-medium text-accent">Message</label>
					<textarea
						id="message"
						name="message"
						rows="10"
						class="mt-1 px-3 py-2 w-full textarea textarea-accent"></textarea>
				</div>
				<div class="w-full flex justify-end">
					<button type="submit" class="w-full md:w-3/5 btn-accent py-2 font-semibold text-2xl btn"
						>Send</button
					>
				</div>
			</form>
		</div>
	</section>
	<div class="divider"></div>
</BaseLayout>
