---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/components/Header.astro";
import Hero from "../layouts/components/Hero.astro";
---

<Layout
  title="Web under contruction..."
  description="Welcome to Peter Kudeláš personal website. Web is currently under construction..."
>
  <Header />
  <main class="container md:w-9/12">
    <Hero />
  </main>
</Layout>
