---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/section/Footer.astro'
import Header from '../components/section/Header.astro';
---

<Layout title="Web under contruction..." description="Welcome to Peter Kudeláš personal website. Web is currently under construction...">
	<Header/>
	<main>
		<h1 class="text-gradient text-center uppercase ">Under</br>construction</h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/impeterk"
				title="GitHub"
				imgsrc="/images/github-svg.svg"
			/>
			<Card
				href="https://linkedin.com/in/impeterk"
				title="LinkedIn"
				imgsrc="/images/linkedin-svg.svg"
			/>
		</ul>
	</main>
	<Footer />
</Layout>

