---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/components/Header.astro";
---

<Layout
  title="Web under contruction..."
  description="Welcome to Peter Kudeláš personal website. Web is currently under construction..."
>
  <Header>
  </Header>
  <main>
    <p>fesacky text</p>
  </main>
</Layout>
