---
GradientText;
import BaseLayout from '../layouts/BaseLayout.astro';
import Link from '../components/Link.astro';
import GradientText from '../components/GradientText.astro';
---

<BaseLayout
	title="Now"
	description="Discover what I'm currently up to with my Now Page. Stay updated on my latest projects, interests, and activities. From web development to personal pursuits, explore the present moment in my journey."
	navActiveId="now"
>
	<article class="prose max-w-3xl lg:mt-[10vh]">
		<h2 class="text-7xl font-sans font-black">
			<GradientText content="Now" />
		</h2>
		<div class="md:flex justify-between w-full">
			<h3 class="text-base-content my-2">What am I doing Now?</h3>
			<h3 class="text-base-content my-2">Last update august 2023</h3>
		</div>
		<p class="">
			This is a <Link href="https://nownownow.com/about">Now page</Link>, inspired by <Link
				href="https://sivers.org"
			>
				Derek Sivers
			</Link>. You should create one too!
		</p>
		<div class="divider"></div>
		<div class="">
			<div class="">
				<h2 class="">Occupation</h2>
				<p class="indent-8">
					Currently I am working as Web editor in Henkel. I have been wordking there for a little
					more then a year now. I am also working od developer projects, which are outside of the
					scope of my occupation, but are helpful in the long run.
				</p>
			</div>
			<div class="">
				<h2 class="">University</h2>
				<p class="indent-8">
					In september I am starting my final year of university. So I thorouly working on my
					thesis, which is kind of related to my working experience. It is about <i
						>Software support in develpment of information systems</i
					>.
				</p>
			</div>
			<div class="">
				<h2 class="">Development</h2>
				<p class="indent-8">
					Apart from university I am learning on <Link href="https://codecademy.com">
						<i>Codecademy</i>
					</Link>. Right now, I am learning <Link
						href="https://www.codecademy.com/learn/paths/full-stack-engineer-career-path"
					>
						Full-Stack Engineering
					</Link>

					 Course.
				</p>
			</div>
			<div class="">
				<h2 class="">What am I reading?</h2>
				<p class="indent-8">
					I like to read non-fiction literature. Currently I am reading <Link
						href="https://www.google.com/books/edition/The_Courage_To_Be_Disliked/IggxDwAAQBAJ?hl=sk&gbpv=0"
					>
						<i> The courage to be disliked</i>
					</Link>
					 and <Link
						href="https://www.google.com/books/edition/Mindset_Updated_Edition/ckoKDQAAQBAJ?hl=sk&gbpv=0"
					>
						<i>Mindset</i>
					</Link>
				</p>
			</div>
		</div>
		<div class="divider"></div>
	</article>
</BaseLayout>
