---
export interface Props {
  title: string;
  imgsrc: string;
  href: string;
}

const { href, title, imgsrc } = Astro.props;
import { Tag } from "../solid/components/Tag";
---

<article
  class="container min-h-40 max-h-fit my-5 p-6 flex flex-row bg-slate-800 rounded-md"
>
  <div class="shrink-0 w-1/6">
    <a href={href} target="_blank">
      <img
        src={imgsrc}
        class="h-full mx-auto aspect-square hover:opacity-75 hover:translate-y-1 transition"
        alt="decorational"
      />
    </a>
  </div>
  <div class="mx-6 flex flex-col">
    <div class="flex items-center gap-x-1">
      <h3 class="text-2xl font-bold">
        {title}
      </h3>
      <Tag name="fesak" background="sky" client:load />
      <Tag name="javascript" background="amber" />
      <Tag name="react" background="cyan" />
      <Tag name="svelte" background="orange" />
      <Tag name="blog" background="violet" />
    </div>
    <p class="text-justify">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae accusamus
      natus possimus nesciunt. Modi quaerat natus molestias nulla nobis
      reprehenderit porro perferendis veniam impedit esse tenetur dicta, nihil
      harum? Dolore.
    </p>
    <a
      href={href}
      target="_blank"
      class="self-end p-1 rounded-sm outline outline-orange-500 outline-1 outline-offset-1 hover:bg-orange-600 hover:text-slate-900 transition font-medium"
      >Read More</a
    >
  </div>
</article>
