---
import ContactForm from './ContactForm.astro';
---

<section transition:name="contact" id="contact" class="text-base-content">
	<div class="my-12">
		<h3 class="text-xl text-base-content font-semibold">
			Hey there! If you're interested in collaborating, discussing a tech challenge, or just want to
			geek out about code, drop me a line using the form below.
		</h3>
	</div>
	<div class="max-w-xl mx-auto">
		<ContactForm />
	</div>
</section>
