<form>
	<div class="mb-4">
		<label for="email" class="block text-lg font-medium text-accent">Email</label>
		<input
			type="email"
			id="email"
			name="email"
			class="mt-1 px-3 py-2 w-full textarea textarea-accent"
		/>
	</div>
	<div class="mb-4">
		<label for="message" class="block text-lg font-medium text-accent">Message</label>
		<textarea
			id="message"
			name="message"
			rows="10"
			class="mt-1 px-3 py-2 w-full textarea textarea-accent"></textarea>
	</div>
	<div class="w-full flex justify-end">
		<button type="submit" class="w-full md:w-3/5 btn-accent py-2 font-semibold text-2xl btn"
			>Send</button
		>
	</div>
</form>
