<header class="flex justify-between w-full px-8 h-12">
  <a href="/"><img class="h-full aspect-square" src="/og_image.webp" /></a>
  <nav>
    <ul class="flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </nav>
</header>
