---
const {href, text} = Astro.props
---

	<li class="px-2">
		<a
			class="text-2xl font-semibold hover:text-orange-500 hover:underline hover:underline-offset-2 max-md:text-4xl max-md:mr-2 max-md:leading-loose max-md:font-semibold"
			href={href}>{text}</a
		>
	</li>
