---
const { href, text, id, navActiveId } = Astro.props;
---

<li class="my-1">
	<a
		class={` font-semibold  p-4 ${
			id == navActiveId ? ' text-accent bg-base-300' : 'text-base-content'
		} hover:text-accent-content w-full`}
		href={href}
		id={id}>{text}</a
	>
</li>
